@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap'); 
body {
  font-family: 'Oxygen', sans-serif; text-indent: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #6C7580;
  color: white;
   font-family: 'Rock Salt', cursive;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  background-color:  #D0E1F5;
  padding: 20px;
    font-family: 'Oxygen', sans-serif; 

}

nav li {
  padding: 5px;
}


aside {
  padding: 20px;
  background-color: #A3B0BF;
  color: white;
    font-family: 'Oxygen', sans-serif; 
}

figcaption {
    font-style: italic;
    font-family: 'Oxygen', sans-serif; 
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #6C7580;
  color: white;
    font-family: 'Oxygen', sans-serif; 
}

h1 {
  margin-bottom: 1em;
  font-size: 1.4em;
  font-weight: bolder;
    font-family: 'Rock Salt', cursive;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
   font-family: 'Rock Salt', cursive;
}

h3 {
  margin-bottom: 1em;
  font-size: 1em;
  font-style: italic;
    font-family: 'Rock Salt', cursive; } 

p {
  margin-bottom: 1em;
}

.responsive {
    max-width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}
